# Byte-code files
*.pyc
__pycache__/
*.pyo

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environment
venv/
.venv/
env/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Logs
*.log 